In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col one': [100, 200], 'col two': [300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [3]:
df.columns

Index(['col one', 'col two'], dtype='object')

In [ ]:
df = df.rename(, axis='columns')