In [1]:
import pandas as pd
df = pd.DataFrame({'col one': [100, 200], 'col two': [300, 400]})
df

   col one  col two
0      100      300
1      200      400

In [2]:
df = df.rename({'col one': 'col_one', 'col two': 'col_two'}, axis='columns')
df

   col_one  col_two
0      100      300
1      200      400

In [3]:
df.columns = ['col__one', 'col__two']
df

   col__one  col__two
0       100       300
1       200       400

In [4]:
df.columns = df.columns.str.replace('__', '_')
df

   col_one  col_two
0      100      300
1      200      400

In [8]:
df = df.add_prefix('X_')
df

   X_col_one  X_col_two
0        100        300
1        200        400

In [9]:
df = df.add_suffix('_Y')
df

   X_col_one_Y  X_col_two_Y
0          100          300
1          200          400